.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
  flex-wrap: wrap;
  transition: all 500ms ease-in;
}

.card {
  width: 40%;
  height: 330px;
  background-color:#FFFFFF;
  border: 1px solid transparent;
  margin: 0 40px 40px 0;
  border-radius: 16px;
  box-shadow: 4px 4px 4px rgb(211, 205, 205);
}

@media (max-width:800px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .card {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 90%;
  }
}